.game {
    /*filter: blur(1rem);*/

    height: 90vh;
    width: 80vw;
    font-size: 1.5rem;
    padding: 5vh 10vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.game__title {
    opacity: 0.8;
}

.game__timer {
    color: var(--orange);
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.3em 0.75em;

    border: 0.3rem solid var(--orange);
    border-radius: 1em;
}

.game__board {
    /*padding: 1rem;*/
    height: 9rem;
    overflow-y: hidden;

    max-width: 75ch;
    margin: auto;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    position: relative;
    z-index: 1;
}

.game__board:before {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 9rem;
    height: 1rem;
    box-shadow: 0 0 0.5rem 0.5rem var(--dark);
    z-index: 2;
}

.game__board:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1rem;
    transform: translateY(1rem);
    box-shadow: 0 -0.7rem 2rem 3rem var(--dark);
    z-index: 2;
}

.game__text {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;

    line-height: 1.6rem;
    padding-top: 1rem;
}

.game__keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.game__keyboard-line {
    display: flex;
}

.game__button {
    height: calc((70vw / 20));

    color: var(--orange);
    background-color: var(--dark);
    border: 0.3rem solid var(--orange);
    border-radius: 0.3rem;

    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    margin: 0.1rem;
    cursor: pointer;
}

.game__button:hover {
    color: var(--dark);
    background-color: var(--orange);
    border-color: var(--dark-orange);
    box-shadow: inset 2rem 2rem 3rem var(--dark-orange);
}

.game__button-active {
    color: var(--dark);
    background-color: var(--orange);
    border-color: var(--dark-orange);
    box-shadow: inset 2rem 2rem 3rem var(--dark-orange);
}

.game__button-s05 {
    width: calc((80vw / 20) / 2);
}

.game__button-s1 {
    width: calc((70vw / 20));
}

.game__button-s15 {
    width: calc((70vw / 20) * 1.5);
}

.game__button-s2 {
    width: calc((70vw / 20) * 2);
}

.game__button-s25 {
    width: calc((70vw / 20) * 2.5);
}

.game__button-space{
    width: calc((70vw / 20) * 4);
}