.hello {
    width: 100vw;
    height: 100vh;
    /*line-height: 1.5rem;*/

    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hello__hidden {
    opacity: 0;
    animation: hello--hide 1.3s ease-in-out;
}

@keyframes hello--hide {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.hello__header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1rem;
}

.hello__header--display {
    animation: hello__slide-to-right 0.7s linear;
}

.hello__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 1rem;
}

.hello__info {
    font-size: 1rem;
}

.hello__info--display {
    animation: hello__slide-to-left 0.7s ease;
}

.hello__buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.hello__button {
    font-size: 1em;
    margin: 0 0.5rem;
}

.hello__button--display {
    animation: hello__slide-to-top 1s ease;
}

.hello__button--rotate {
    animation: hello__btn-setting 1.4s ease;
}