@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-10vw);
    }
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(10vw);
    }
}

@keyframes start-btn {
    0% {
        opacity: 0;
        transform: translateY(10vw);
    }
    70% {
        opacity: 0;
    }
}

@keyframes setting-btn {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    70% {
        opacity: 0;
        transform: translateX(-30px) rotate(180deg);
    }
}