@keyframes hello__slide-to-right {
    0% {
        opacity: 0;
        transform: translateX(-10vw);
    }
}

@keyframes hello__slide-to-left {
    0% {
        opacity: 0;
        transform: translateX(10vw);
    }
}

@keyframes hello__slide-to-top {
    0% {
        opacity: 0;
        transform: translateY(10vw);
    }
    70% {
        opacity: 0;
    }
}

@keyframes hello__btn-setting {
    0% {
        opacity: 0;
        transform: translateX(-0.8em);
    }
    70% {
        opacity: 0;
        transform: translateX(-1.6em) rotate(180deg);
    }
}