.modal {
    color: var(--white);
    background: var(--dark);

    width: auto;
    height: auto;

    border: 1px solid var(--white);
    border-radius: 8px;
    box-shadow: rgba(255, 255, 255, 0.24) 0 3px 8px;

    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.modal__header {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 20rem;

    min-height: 4rem;
    font-size: 1.3rem;
    font-weight: 600;

}

.modal__game, .setting__form {
    padding: 5%;
}

.modal__footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 5%;
}

.modal__result {
    margin: 0.3rem 0.3rem 0.3rem 3rem;
}

#time-select {
    width: 4rem;
}

#color-select {
    width: 2rem;
    border: 0;

}

.form-example {
    width: 100%;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}