@import url("./variables.css");
@import url("./keyframes.css");
@import url("./hello.css");
@import url("./game.css");
@import url("./modal.css");

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: var(--white);
    background-color: var(--dark);
}

.hidden {
    display: none;
}

.btn {
    font-weight: 700;

    cursor: pointer;

    padding: 0.5em 1.5em;
    border: 0;
    border-radius: 1em;
}

.btn-primary {
    color: var(--white);
    background-color: var(--orange);

    z-index: 1;
}

.btn-primary:hover {
    background-color: var(--dark-orange);
}

.btn-settings {
    cursor: pointer;

    background-color: var(--grey);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 50%;
    padding: 0.4em;

    z-index: 1;
}

.btn-settings:hover {
    transition-duration: 1s;
    transform: rotate(180deg);
}

.font-normal {
    font-size: 1rem;
}

.font-small {
    font-size: 0.75rem;
}

.preparation {
    font-size: 2rem;
    font-weight: 600;
    opacity: 0;

    height: 100vh;
    width: 100vw;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preparation--show {
    animation: preparationShow 1s linear;
}

@keyframes preparationShow {
    0% {
        opacity: 0;
        font-size: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        font-size: 10rem;
    }
}