@import url("./variables.css");
@import url("./keyframes.css");
@import url("./hello.css");
/*@import url("./modal.css");*/

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

    cursor: pointer;

    padding: 0.5em 1.5em;
    border: 0;
    border-radius: 1rem;
}

.btn-primary {
    color: var(--white);
    background-color: var(--orange);
}

.btn-primary:hover {
    background-color: var(--dark-orange);
}

.btn-settings {
    cursor: pointer;

    background-color: var(--grey);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 50%;
    padding: 0.4em;
}

.btn-settings:hover {
    transition-duration: 1s;
    transform: rotate(180deg);
}